@import "reset.css";

html {
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

body {
  margin: 0;
  font-family: "nationale-regular", "nationale-demibold", "nationale-bold";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar {
  display: none;
}

table {
  border-top: 3px solid #373737;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  letter-spacing: -0.6px;
  text-align: center;
  vertical-align: middle;
  color: #4b4b4b;
  border: 1px solid #d3d3d3;
}

@font-face {
  font-family: "nationale-regular";
  src: local("nationale-regular"),
    url("/src/fonts/nationale-regular.woff2") format("truetype");
}
@font-face {
  font-family: "nationale-demibold";
  src: local("nationale-demibold"),
    url("/src/fonts/nationale-demibold.woff2") format("truetype");
}
@font-face {
  font-family: "nationale-bold";
  src: local("nationale-bold"),
    url("/src/fonts/nationale-bold.woff2") format("truetype");
}
a {
  text-decoration: none;
}
