html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body:not(.navigation-with-keyboard) *:focus {
  outline: none;
}

.App {
  font-family: sans-serif;
  text-align: center;
}
