*:focus{
    outline:none;
}

.kep-login-facebook.metro{
    position:absolute;
    margin-bottom:30px;
    width:100%;
    height:55px;
    border:none;
    border-radius:5px;
    background-color:transparent;
    text-align: center;
    line-height: 10px;
    visibility: hidden;

}
.kep-login-facebook.metro:after{
    position:absolute;
    display:flex;
    justify-content: center;
    bottom:0px;
    width:0;
    height:55px;
    line-height:50px;
    border-radius:5px;
    visibility: visible;
    content: 'Facebook';
    text-transform: none;

}




.kep-login-facebook.metro:hover:after{
    color:black;
    background-color:white;
    transition: all 1s;
}

.position-relative.fullwidth.login-facebook.btn-secondary-outline{
    opacity:0.2;
    background-color:white;
}